body{ 
    background-color:rgb(231, 222, 222);
}
/* span{
    background-color: rgb(192, 192, 192);
}
a{
    background-color: rgb(133, 9, 9);
    color: aliceblue;
}
h1{
    color:blue;
    background-color: white;
}
#123{
    color: rgb(202, 122, 18);
}
#555{
    background-color: rgb(10, 195, 195);
    color: brown;
}
#firstclass{
    background-color: rgb(255, 255, 0);
}
.red{
    color: rgb(255, 0, 0);
} */